@model MyApp.Models.ViewModels.CategoryVM
@{
    ViewData["Title"] = "Create";
}

<h1>@((Model.Category==null || Model.Category.Id==0)? "Create":"Update") Category</h1>
<hr />
<form method="post" asp-action="CreateUpdate">
    <div class=border p-3 m-4>
        <input type="hidden" asp-for=Category.Id />
        <div class="row mb-3">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" class="form-control" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <button class="btn btn-primary">@((Model.Category==null || Model.Category.Id==0)? "Create":"Update")</button>
    </div>
    <a asp-action="Index" asp-controller="Category">Back to List</a>
</form>

@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}